DB_HOST=localhost
DB_USER=root
DB_PASS=
DB_NAME=uniconnect
DB_PORT=3306
DB_CHARSET=utf8mb4

MAIL_HOST=smtp.gmail.com
MAIL_USERNAME=your-email@gmail.com
MAIL_PASSWORD=your-app-password
MAIL_PORT=864
MAIL_ENCRYPTION=tllp